body{
    height:100vh;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px;
}

div{
    font-family: sans-serif;
}

button{
    font-size:24px;
    font-weight:450;
}

.buttonFields{
    display:flex;
    flex-wrap: wrap-reverse;
    gap:20px;
    justify-content: center;
}

.display{
    font-size:24px;
}

#title{
    font-size:48px;
    font-weight: 900;
}

#calculator{
    display:flex;
    flex-direction: column;
    gap:24px;
}